<mat-toolbar color="primary">
  <span routerLink="/club" style="cursor: pointer;margin-left: 20px;">Table RPL</span>

  <span class="spacer"></span>

  <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>login</mat-icon>
  </button>


  <h3 *ngIf="isDataLoaded" >{{this.user.username}}</h3>

  <button *ngIf="isLoggedIn"  matTooltip="Profile" mat-icon-button>
    <mat-icon color="accent">account_box</mat-icon>
  </button>

  <button *ngIf="isLoggedIn" mat-flat-button color="accent" (click)="logout()" >Logout</button>

</mat-toolbar>
