mat-form-field{
  width: 50%;
}

.about-page{
  text-align: center;
}
#controls{
  display: block;
  margin: 0 auto;
  width: 50%;
}


.up{
  display: flex;
  align-items: center;
  margin-top: 88px;
}
.up h2{
  text-align: center;
  margin-left:  46%;

}
.up button{
  margin: 0 373px 0 auto
}
