<div class="up">
  <h2>Update club</h2>
  <br><button mat-flat-button color="primary" (click)="back()" >Back</button>
</div>
<div class="about-page">

  <form [formGroup]="updateForm">
    <div>
      <div class="justify-content-center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter the name of the club</mat-label>
            <input matInput
                   formControlName="name"
                   ngModel="{{updateClub.name}}">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter the number of games played</mat-label>
            <input matInput
                   formControlName="games"
                   ngModel="{{updateClub.games}}">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter the number of goals scored</mat-label>
            <input matInput
                   formControlName="goals"
                   ngModel="{{updateClub.goals}}">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Enter the number of points scored</mat-label>
            <input matInput
                   min="0"
                   formControlName="points"
                   ngModel="{{updateClub.points}}">
          </mat-form-field>
        </div>
      </div>

      <div id="controls" class="row">
        <button style="width: 20%"  [disabled]="updateForm.invalid" (click)="update()"  mat-flat-button color="primary">
          Update Club
        </button>
      </div>
    </div>
  </form>

</div>
<router-outlet></router-outlet>

<router-outlet></router-outlet>

